body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    margin-top: 15%;
    color: midnightblue;
}
h3{
    font-size: 24px;
    color: midnightblue;
}
p{
    font-size: 15px;
    color: dimgray;
    width: 80%;
}
.allignment{
    padding-top: 5%;
    text-align: center;
}
.salmon-highlight{
    color: salmon;
}
.blue-text{
    color: midnightblue;
}
.quartar-width{
    width: 30%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 2%;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 800px;
    padding-bottom: 70px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient( tomato, salmon);
    padding: 10px 30px;
    border-radius: 4px;
    color: white;
}
.threeq-width{
    width: 27%;
    float: left;
    margin-left: 2%;
    padding: 1%;
}
.threeq-width img{
    width: 100%;
    height: 60%;
}
.single-exp{
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 15px;
    background-color: white;
    height: 70%;
}
.project-banner{
    background-color: whitesmoke;
    height: 650px;
}
.mid-project{
    width: 80%;
    height: 80%;
    margin-left: 12%;
    margin-right: 17%;
    margin-top: 5%;
}
.work-part{
    height: 300px;
}
.work-banner{
    background-image: url("shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    height: 80%;
    background-size: 100%;
    margin: 4% 20%;
}
.work-banner h2{
    font-size: 50px;
    text-align: left;
    padding: 8% 5%;
    color: white;
}
.work-banner a{
	position: relative;
	left: 87%;
 	top: -45%;
	margin-left: -75px;
 	display: inline-block;
 	padding: 15px 35px;
}
.contact{
    text-align: center;
    padding-bottom: 5%;
}